h1{
    font-size: 4.7rem;
    line-height: 75px;
    margin:0;
}
p{    font-size: 1.2rem;
    font-weight: 500;}
span{
    width:30px;
}
.collection{
    background-color: rgb(250, 62, 62) !important;
    border:none !important;
    border-radius: 100px !important;
    display: flex !important;
    gap:5px;
    align-items: center;
}